.notation {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.level_1 {
    width: 10px; 
    height: 15px; 
    background-color: red;
  }   
  .level_2 {
      width: 10px; 
      height: 20px; 
      background-color: yellow;
      margin: 2px;
  }
  .level_3 {
      width: 10px; 
      height: 25px; 
      background-color: green;
  }